@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

section {
  margin-bottom: 128px;
}

.banner {
  background: rgba(229, 84, 115, 0.1);
}

.container {
  width: 1440px;
  margin: 0 auto;
}

.banner_main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  gap: 97px;
}

.banner_title {
  width: 708px;
}

.banner_title h1 {
  color: #272727;
  font-family: Lato;
  font-size: 80px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 30px;
}

.banner_title p {
  width: 634px;
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 30px;
}

.banner_title button {
  border-radius: 8px;
  background: #e55473;
  color: #fff;
  font-family: Lato;
  font-size: 18px;
  font-weight: 700;
  border: none;
  outline: none;
  padding: 20px 43px;
  cursor: pointer;
}

.banner_img img {
  width: 635px;
}

/* ======= Featured sections ======== */

.featured {
  background: #fff;
}

/* .featured_main {
  margin-top: 150px;
} */

.featured_title h3 {
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 40px;
  font-weight: 800;
}

.featured_title p {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: Lato;
  font-size: 18px;

  font-weight: 400;
  line-height: 30px;
}

.featured_images {
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 24px;
  margin-top: 48px;
}

.featured_image1 {
  width: 464px;
  height: 538px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
}

.featured_image2 {
  justify-content: center;
}

.featured_image1 img {
  width: 310px;
  object-fit: contain;
}

.featured_image2 img {
  width: 370px;
}

.featured_images span {
  display: block;
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
  text-decoration-line: underline;
  margin-top: 32px;
}

.customer_main {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  background: rgba(39, 39, 39, 0.05);
  padding: 50px 120px;
}

.customers_details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.customers_details img {
  width: 88px;
  height: 88px;
}

.customers_details p {
  color: rgba(39, 39, 39, 0.8);
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 35px;
}
